.main-container {
  background-color: #202124;
}
.navbar {
  background-color: #202124;
}
.navbar-brand {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.navbar-brand:hover {
  color: #fff;
}
.form-inline {
  width: 55vw;
  margin-right: 21vw;
}
.form-inline input[type="search"] {
  width: 100%;
  height: 8vh;
  background-color: #525355;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
}
input[type="search"]::placeholder {
  color: #fff;
}
@media screen and (max-width: 800px) {
  .form-inline input[type="search"] {
    display: none;
    pointer-events: none;
  }
}
